<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
	<div class="hidden">

    {{> header }}
   <!-- Main -->
   <main>
      <!-- About -->
   	<section class="about">
   		<div class="about__wrap-img col-5">
   			<img class="about__img" src="../assets/images/charles-deluvio.jpg" alt="Класти плитку" >
   			<div class="about__experiance">
   				<div class="about__teen">10+</div>
   				<div class="about__years">Років досвіду</div>
   			</div>
   		</div>
   		<div class="about__wrap-contant col-xxl-6">
	   		<article class="about__contant  col-lg-8 col-xl-7 col-xxl-6">
	   			<hgroup>
				    <h2 class="about__us upper-title">Про нас</h2>
				    <h3 class="about__title title">Хто ми такі?</h3>
	            </hgroup>

	   			<p class="about__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum eros arcu, at aliquet tortor vestibulum ut. Quisque sed libero nec nulla pulvinar pharetra. Aliquam porttitor justo lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus id quam nulla. Proin consequat mauris augue, id suscipit risus mattis non. Sed a vulputate diam.</p>
	   			<p class="about__paragraph">Mauris eget urna quis nisl lacinia convallis. Mauris ut urna sed sem egestas hendrerit at vel quam. Vestibulum maximus velit dui. </p>
	   		</article>
   		</div>	
   	</section>

      <!-- Stages -->
   	<section class="stages">

			<hgroup>
		    <h2 class="stages__work upper-title">Етапи роботи</h2>
		    <h3 class="stages__title title">Як ми працюємо?</h3>
         </hgroup>
   
   		<div class="stages__box col-12">
	   			<div class="stages__box-left сol-6">
	   			<div class="stages__phase col-4">
	   				<div class="stages__number">1</div>
	   				<div class="stages__text">Виїзд майстра на обєкт для замірів</div>
	   			</div>
	   			<div class="stages__phase col-4">
	   				<div class="stages__number">2</div>
	   				<div class="stages__text">Складання кошторису згідно попередніх домовлень</div>
	   			</div>
	   			<div class="stages__phase col-4">
	   				<div class="stages__number">3</div>
	   				<div class="stages__text">Підписання договору</div>
	   			</div>
	   			</div>

	   			<div class="stages__box-right col-6">
		   			<div class="stages__phase col-4">
		   				<div class="stages__number">4</div>
		   				<div class="stages__text">Закупівля матеріалу</div>
		   			</div>
		   			<div class="stages__phase col-4">
		   				<div class="stages__number">5</div>
		   				<div class="stages__text">Вчасна здача проекту</div>
		   			</div>
		   			<div class="stages__phase col-4">
		   				<div class="stages__number">6</div>
		   				<div class="stages__text">Щасливі замовники</div>
		   			</div>
	   		</div>
   		</div>
   	</section>

   	<!-- Portfolio -->
   	<section class="portfolio">
   		<hgroup>
		    <h2 class="portfolio__portfolio upper-title">портфоліо</h2>
		    <h3 class="portfolio__title title">Наші роботи</h3>
         </hgroup>

   		<div class="portfolio__container">
	   		<div class="portfolio__contant ">
	            <h3 class="portfolio__name">Назва проекта</h3>
	            <div class="portfolio__text">
	            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum eros arcu, at aliquet tortor vestibulum ut. Quisque sed libero nec nulla pulvinar pharetra. Aliquam porttitor justo lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus id quam nulla. 
	            </div>
	            <div class="portfolio__term"><span class="font-bold">Термін ремонта:</span> &nbsp 21 день</div>
	            <div class="portfolio__square"><span class="font-bold">Площа: </span> &nbsp 81 м2</div>
	   	   </div>

	   	   <div class="portfolio__slider ">
		   	   <div class="portfolio__min-slids">
		   	   	<div class="portfolio__slide"><img src="../assets/images/img-2.jpg" alt="Кухня" class="portfolio__img"></div>
		   	   	<div class="portfolio__slide"><img src="../assets/images/img-3.jpg" alt="Спальня" class="portfolio__img"></div>
		   	   	<div class="portfolio__slide"><img src="../assets/images/img-4.jpg" alt="Ванна кімната" class="portfolio__img"></div>
		   	   </div>
		   	   <div class="portfolio__inner">
		   	   	<div class="portfolio__big-slid">
		   	   		<img src="../assets/images/img-1.jpg" alt="Картина" class="portfolio__big-img">
		   	   	</div>
		   	   	<div class="portfolio__switch">
		   	   		<ul class="points">
		   	   			<li class="points__item points__item_active"></li>
		   	   			<li class="points__item"></li>
		   	   			<li class="points__item"></li>
		   	   			<li class="points__item"></li>
		   	   		</ul>
		   	   		<div class="arrows"><img src="#" alt="Стрілка ліва"></div>
		   	   		<div class="arrows"><img src="#" alt="Стрілка права"></div>
		   	   	</div>
		   	   </div>
		   	   
           </div>
  	      </div>
   	</section>

   	<!-- Response -->
   	<section class="response">
   		<div class="response__inner">
	   		<hgroup>
			    <h2 class="response__respond upper-title">Відгуки</h2>
			    <h3 class="response__title title">Що про нас говорять наші клієнти</h3>
	         </hgroup>
	         <div class="slider">
	         	<div class="slider__inner">
	         		<div class="slider__item">
	         			<p class="slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut eros at nunc venenatis varius ac ut nisl. Cras vulputate efficitur ligula, ac bibendum est placerat vel. Integer sit amet lectus non enim maximus varius sed non arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut eros at nunc venenatis varius ac ut nisl. Cras vulputate efficitur ligula, ac bibendum est placerat vel. Integer sit amet lectus non enim maximus varius sed non arcu. </p>
	         			<p class="slider__name">Елена Филонова, Львів</p>
	         		</div>
	         	</div>
	         	<div class="slider__switch">
	         		     <div class="arrows"><img src="#" alt="Стрілка ліва"></div>
	         			  <ul class="points">
			   	   			<li class="points__item"></li>
			   	   			<li class="points__item"></li>
			   	   			<li class="points__item"></li>
			   	   			<li class="points__item"></li>
			   	   		</ul>
			   	   		<div class="arrows"><img src="#" alt="Стрілка права"></div>
	         	</div>
	         </div>
   	   </div>
   	</section>

<!-- Conection -->
	   	<section class="conection">
	   		<div class="conection__inner">
	   			<h2 class="conection__title">Зв'яжіться з нами</h2>
	   			<p class="pconection__subtitle">Залиште номер телефону, і ми зв'яжемося з вами на протязі 5 хвилин.</p>
	   			<form class="conection__form">
	   				<div class="conection__wrap">
	   				   <span><input  class="conection__input" type="text" placeholder="Ім'я"></span>
	   				   <span><input class="conection__input" type="email" placeholder="E-mail"></span>
	   				</div>
	   						<input type="text" class="conection__message"  placeholder="Ваше повідомлення..">
	   				
	   				<input class="conection__button"  type="button" value="Надіслати">
	   			</form>
	   		</div>	
	   	</section>

   </main>


    {{> footer }}
</div>
<!-- Script Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<!-- My js -->
<script type="module" src="assets/scripts/script.min.js"></script>
</body>
</html>
