<footer class="footer">
	<div class="footer__inner">
		<div class="footer__block col-3">
			<div class="footer__wrap-logo">
			   <img src="../assets/images/logo.png" alt="Логотип">
			</div>
			<p class="footer__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
		</div>
		<div class="footer__block  col-3">
	
				<a href="#" class="footer__link">Про нас </a>
				<a href="#" class="footer__link">Портфоліо</a>
				<a href="#" class="footer__link">Етапи роботи</a>
		
		</div>

		<div class="footer__block  col-3">
			<div class="footer__location">УКРАЇНА, М.ЛЬВІВ,<br> ВУЛ. Зелена 230</div>
			<div class="footer__phone">(097)857-70-47</div>
		</div>
		
		<div class="footer__block  col-3">
			<a href="" class="footer__link-networks"><img src="../assets/images/instagram-1.svg" alt="" class="footer__img-networks"></a>
			<a href="" class="footer__link-networks"><img src="../assets/images/facebook-2.svg" alt="" class="footer__img-networks"></a>
			<a href="" class="footer__link-networks"><img src="../assets/images/linkedin-3.svg" alt="" class="footer__img-networks"></a>
		</div>
	</div>	
	<div class="footer__power">
		2020 © Come Back Agency. All Rights Reserved.
	</div>

</footer>
