<header class="header">

	<!--Header Contacts -->
	<div class="contacts">
		
		<div class="contacts__wrap-numers">
			<span class="contacts__first">+38 (067) 467-37-67</span>
			<span class="contacts__second">+38 (067) 467-37-67</span>
     </div>
		<div class="contacts__networks">
          <img class="contacts__linkedin networks" src="../assets/images/social-networks-1.svg" alt="Linkedin" >
          <img class="contacts__facebook networks" src="../assets/images/social-networks-2.svg" alt="Facebook" >
          <img class="contacts__instagram networks" src="../assets/images/social-networks-3.svg" alt="Instagram" >
		</div>

	</div>


	

   <div class="header__body">

	   <div class="header__manu">
       
         <!-- Header logo -->
         <div class="header__wrap-logo">
         <img class="logo" src="../assets/images/logo.png" alt="Логотип">
        </div>
         <!-- Header burger -->
         <div class="header__burger">
            <span class="header__line-burger"></span>
         </div>

         <!--Header nav-->
         <nav class="nav col-7 col-xl-8 col-xxl-7">

            <ul class="nav__list col-12  ">

               <li class="nav__item"><a href="#" class="nav__link">Про нас</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Відгуки</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Ціна</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Наші роботи</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Контакти</a> </li>   
            </ul>
         </nav>

         <!--header button--> 
        <span class="header__wrap-btn"><button class="header__button-call">Замовити дзвінок</button></span> 
      </div>
           
         <!-- Header wrap Contant -->
         <div class="header__wrap-contant  ">
			      <div class="header__contant col-12 col-sm-11  col-md-10  col-lg-9 col-xl-8  col-xxl-7">

			     	  <h1 class="header__title title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus iste est.</h1>
			     	  <div class="header__wrap-text">
			     	      <p class="header__paragraph text">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Facilis pariatur distinctio voluptatem itaque provident explicabo, ipsam totam sint dolore aspernatur doloribus, alias est voluptas assumenda, dolor fugit ex aut deleniti!</p>	
			     	  </div>
			        <a class="header__button-bid" href="#">Залишити заявку</a>
			      </div>
      </div>

	   <!-- Header Give -->
	  <div class="give">
	     	<div class="give__block col-12  col-md-6 col-lg-2">
	     		<div class="give__text">Фіксований кошторис</div>
	     		<div class="give__wrap-icon">
	     		   <img class="give__icon" src="../assets/images/ico-work-1.svg" alt="Кошторис">
	     		</div>
	     	</div>

	     	<div class="give__block col-12 col-md-6 col-lg-2">
	     		<div class="give__text">Працюємо без авансів</div>
            <div class="give__wrap-icon">
	     	      <img class="give__icon" src="../assets/images/ico-work-2.svg" alt="Aванс">
	     	   </div>
	     	</div>

	     	<div class="give__block col-12 col-md-6 col-lg-2">
	     		<div class="give__text">Щотижнева звітність робочого процесу</div>
	     		<div class="give__wrap-icon">
	     		   <img class="give__icon" src="../assets/images/ico-work-3.svg" alt="Звітність">
	     		</div>
	     	</div>

	     	<div class="give__block col-12 col-md-6 col-lg-2">
	     		<div class="give__text">Здача роботи у зазначені терміни</div>
	     	   <div class="give__wrap-icon">
	     		   <img class="give__icon" src="../assets/images/ico-work-4.svg" alt="Терміни">
	     	  </div>
	     	</div>

	     	<div class="give__block col-12 col-md-6 col-lg-2">
	     		<div class="give__text">Гарантія на роботи</div>
	     		<div class="give__wrap-icon">
	     		   <img class="give__icon" src="../assets/images/ico-work-5.svg" alt="Гарантія">
	     		</div>
	     	</div>

	  </div>
    </div>

</header>

