.portfolio {
	padding: 100px 0 0 168px;
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		width: 692px;
		height: 606px;
		position: absolute;
		bottom: -100px;
		left: 292px;
		background-image: url("../images/plan-1.png");
		z-index: 0;
	}



	/* .portfolio__portfolio */
	&__portfolio {
		text-align: center;
	}


	/* .portfolio__title */
	&__title {
	   text-align: center;
	}


	/* .portfolio__container */
	&__container {
		display: flex;
	}


	/* .portfolio__contant */
	&__contant {
      padding: 126px 120px 0 0;
	}


	/* .portfolio__name */
	&__name {
		border-bottom: 24px;
	}

	/* .portfolio__text */
	&__text {
		font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.2px;

	}

	/* .portfolio__term */
	&__term {
		font-size: 20px;
		margin: 31px  0 12px 0;

	}

	/* .portfolio__square */
	&__square {
	}

	/* .portfolio__slider */
	&__slider {
		display: flex;	
	}

	/* .portfolio__min-slids */
	&__min-slids {
	}

	/* .portfolio__slide */
	&__slide {
		position: relative;
		z-index: 1;
		&:not(:first-child){
			margin:0 5px 5px 0;
		}
	}

	/* .portfolio__img */
	&__img {
	}

	/* .portfolio__inner */
	&__inner {
		position: relative;
		z-index: 1;
	}

	/* .portfolio__big-slid */
	&__big-slid {
	}

	/* .portfolio__switch */
	&__switch {
		background-color:$backgroundBtn;
		height: 94px;
		display: flex;
		padding-left: 112px;
		position: relative;
		z-index: 1;
	}
}

.font-bold {
	font-weight: bold;
}

.points {
	display: flex;
	align-items: center;

	/* .points__item */
	&__item {
		margin: 0 10px;
		width: 6px;
      height: 6px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.45);

      &_active{
      	width: 9px;
      	height: 9px;
      	background-color: #fff;
      }
	}
}
