.response {
	background-image: url("../images/handyman.jpg");
	background-size: cover;
	background-position: center;
	/* .response__inner */
	&__inner {
		width: 766px;
		margin: 0 auto;
		background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      text-align: center;
  
      padding: 75px 130px;
	}

	/* .response__respond */
	&__respond {
	}

	/* .response__title */
	&__title {
		color:$colorText;
	}

}


.slider {
	/* .slider__inner */
	&__inner {
		position: relative;
		&:after{
			content:'';
			width: 100px;
			height: 100px;
			background-image: url("../images/l.svg");
			background-size: cover;
			background-position: center;
			position: absolute;
			top: 0;
		}
	}


	/* .slider__item */
	&__item {
	}

	/* .slider__text */
	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.01em;
      color: #FFFFFF;
	}

	/* .slider__name */
	&__name {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #FFFFFF;
	}

	/* .slider__switch */
	&__switch {
	}
}


.points {
	/* .points__item */
	&__item {
	}
}
