.give {
	display: flex;
	min-height: 169px;
	background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(5px);
  		@media screen and(max-width: 992px) {
			   flex-wrap:wrap;
		}


	/* .give__block */
	&__block {

		height: 169px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

			@media screen and(min-width: 992px) {
			 margin: 0 20px;
		}

		

	}
	/* .give__text */
	&__text {
	   position:absolute;
	   color:$colorText;
	   font-size: 20px;
	   font-weight: 500;
	   letter-spacing: .2px;
	   line-height: 27px;
      margin: 30px;
	}

	/* .give__wrap-icon */
	&__wrap-icon{
		margin-left: 30%;
		  // top: 50%;
	   // left: 50%;
	   // transform:translat(-50%, -50%);
	}
	/* .give__icon */
	&__icon {
		// display: block;

	}
}