@import "../blocks/_header/_contacts";
@import "../blocks/_header/_manu";
@import "../blocks/_header/_give";


.header {
   background-image: url("../images/electrician-installer.jpg");
	background-size: cover;
	background-position: center;


	/* .header__body */
	&__body {

		display: flex;
		flex-direction:column;
		justify-content: space-between;
	}
		
    &__wrap-contant{

    }

	/* .header__contant */
	&__contant {
		margin: 0px auto;
		padding: 4em  1em 10em;
	}

	/* .header__title */
	&__title {
		color:$colorText;
		line-height: 55.76px;
		@media screen and(max-width: 768px) {
			line-height: 35.76px;
		}
	}

	/* .header__wrap-text */
	&__wrap-text{
		margin: 29px 0 60px;
	}

	/* .header__paragraph */
	&__paragraph {
		color:$colorText;
	}
	
	&__button-bid {
     background-color: $backgroundBtn;
     color: $colorText;
     padding: .7em .9em;
     display: inline-block;
     text-decoration: none;
     font-weight: bold;
     box-shadow: 1px 1px 18px 4px rgba(255, 153, 0, 0.32);
	}
}


